/* Estilos generales */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.download-cv {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.download-cv:hover {
    background-color: #0056b3;
}

.hero {
    text-align: center;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    max-width: 1000px; /* Máximo ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.content-section {
    background-color: #2a2a2a;
    padding: 40px;
    border-radius: 8px;
    flex: 1 1 calc(50% - 20px); /* Para dos columnas */
    max-width: calc(100% - 20px); /* Máximo ancho de cada sección */
}

#habilidades h2, #informacion h2, #informacion h4, #informacion h5 {
    text-align: center;
}

#habilidades p, #informacion p {
    text-align: justify;
}

.skill-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar {
    flex: 2;
    height: 20px; /* Altura de las barras */
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo de las barras */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bar::before {
    content: '';
    display: block;
    height: 100%;
    background-color: #007bff; /* Color de las barras */
    border-radius: 10px;
    position: absolute;
    top: 0; 
    left: 0;
    width: 0; /* Ancho inicial 0 */
    transition: width 0.5s ease; /* Transición para animación */
}

.bar[style*="width: 50%"]::before {
    width: 50%;
}

.bar[style*="width: 45%"]::before {
    width: 45%;
}

.bar[style*="width: 35%"]::before {
    width: 35%;
}

.bar[style*="width: 40%"]::before {
    width: 40%;
}

.bar[style*="width: 30%"]::before {
    width: 40%;
}

/* Adaptaciones para pantallas pequeñas */
@media (max-width: 767px) {
    .main-content {
        flex-direction: column;
    }

    .content-section, #proyectos {
        flex-basis: 100%;
        max-width: 100%; /* Ajustar ancho completo en dispositivos móviles */
    }
}

/* Estilos específicos para la página de contacto y acerca de mí */

#contacto, #about {
    max-width: 1200px; /* Máximo ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

#contacto h2, #about h2 {
    text-align: center;
    margin-bottom: 20px;
}

#contacto .content-section, #about .content-section {
    background-color: #2a2a2a;
    padding: 50px;
    border-radius: 8px;
    flex: 1 1 calc(50% - 20px); /* Para dos columnas */
    max-width: calc(80% - 20px); /* Máximo ancho de cada sección */
}

#contacto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contacto label {
    font-weight: bold;
}

#contacto input[type="text"],
#contacto input[type="email"],
#contacto textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#contacto input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#contacto input[type="submit"]:hover {
    background-color: #0056b3;
}

#contacto .social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#contacto .social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

/* Estilos específicos para la página de proyectos */

#proyectos {
    max-width: 1200px; /* Máximo ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

#proyectos article {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
}

#proyectos img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.centered-text {
    text-align: center;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-between;
    padding: 20px;
}

.hero-content {
    flex: 1;
    min-width: 200px; /* Ancho mínimo para el contenido de texto */
    padding-right: 20px;
}

.hero-image {
    flex: 0 0 150px; /* Tamaño fijo de la imagen */
    display: flex;
    justify-content: Right;
    padding-left: 20px;
}

.hero-image img {
    max-width: 100%;
    max-height: 300px; /* Tamaño máximo de la imagen */
    height: auto;
    border-radius: 50%;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em; /* Tamaño de los iconos de redes sociales */
}

@media (max-width: 767px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }

    .hero-content {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .hero-image {
        padding-left: 0;
    }
}
