/* Estilos generales */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.download-cv {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.hero {
    text-align: center;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 2.5em;
    margin: 0;
    font-style: italic;
}

.hero-content p {
    margin: 10px 0;
}

.hero-content .email, .hero-content .direccion {
    color: #999;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.5em;
}

.hero-image img {
    max-width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        text-align: left;
    }

    .hero-content {
        max-width: 50%;
    }

    .hero-image img {
        max-width: 300px;
    }
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

.content-section {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(50% - 20px); /* Para dos columnas */
}

#habilidades h2, #informacion h2, #informacion h4, #informacion h5 {
    text-align: center;
}

#habilidades p, #informacion p {
    text-align: justify;
}

.skill-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.bar {
    flex: 2;
    height: 20px; /* Altura de las barras */
    background-color: rgba(255, 255, 255, 0.5); /* Color azul para las barras */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.bar::before {
    content: '';
    display: block;
    height: 100%;
    background-color: #007bff; /* Color azul de las barras */
    border-radius: 10px;
    position: absolute;
    top: 0; 
    left: 0;
    width: 0; /* Ancho inicial 0 */
    transition: width 0.5s ease; /* Transición para animación */
}

@media (max-width: 767px) {
    .main-content {
        flex-direction: column;
    }

    .content-section, #proyectos {
        flex-basis: 100%;
        grid-template-columns: 1fr;
    }
}


/* Estilos específicos para la página de proyectos */

#proyectos {
    max-width: 1200px; /* Máximo ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
}

#proyectos h2 {
    text-align: center;
    margin-bottom: 20px;
}

#proyectos article {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 calc(50% - 20px); /* Para dos columnas */
    max-width: calc(50% - 20px); /* Máximo ancho de cada artículo */
}

#proyectos article h3 {
    color: #007bff;
}

#proyectos article p {
    color: white;
    text-align: justify;
    margin-top: 10px;
}

#proyectos article img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    #proyectos {
        flex-direction: column;
    }

    #proyectos article {
        flex-basis: 100%;
        max-width: 100%; /* Ajustar ancho completo en dispositivos móviles */
    }
}
